alembic>=0.1.0,<8.0
backports-datetime-fromisoformat>=0.1.0,<8.0
blinker>=0.1.0,<8.0
cachelib>=0.1.0,<8.0
click>=0.1.0,<8.0
colorama>=0.1.0,<8.0
Deprecated>=1.0,<8.0
ecdsa>=0.1.0,<8.0
Flask>=0.1.0,<8.0
Flask-Caching>=0.1.0,<8.0
Flask-Limiter>=0.1.0,<8.0
flask-marshmallow>=0.1.0,<8.0
Flask-Migrate>=0.1.0,<8.0
Flask-SQLAlchemy>=0.1.0,<8.0
flask-swagger>=0.1.0,<8.0
flask-swagger-ui>=0.1.0,<8.0
greenlet>=0.1.0,<8.0
importlib_metadata>=0.1.0,<8.0
itsdangerous>=0.1.0,<8.0
Jinja2>=0.1.0,<8.0
limits>=0.1.0,<8.0
Mako>=0.1.0,<8.0
markdown-it-py>=0.1.0,<8.0
MarkupSafe>=0.1.0,<8.0
marshmallow>=0.1.0,<8.0
marshmallow-sqlalchemy>=0.1.0,<8.0
mdurl>=0.1.0,<8.0
mysql-connector-python>=0.1.0,<8.0
ordered-set>=0.1.0,<8.0
packaging>=0.1.0,<8.0
pyasn1>=0.1.0,<8.0
Pygments>=0.1.0,<8.0
python-dotenv>=0.1.0,<8.0
python-jose>=0.1.0,<8.0
PyYAML>=0.1.0,<8.0
rich>=0.1.0,<8.0
rsa>=0.1.0,<8.0
six>=0.1.0,<8.0
SQLAlchemy>=0.1.0,<8.0
typing_extensions>=0.1.0,<8.0
Werkzeug>=0.1.0,<8.0
wrapt>=0.1.0,<8.0
zipp>=0.1.0,<8.0
