alembic>=1.0,<8.0
backports-datetime-fromisoformat>=1.0,<8.0
blinker>=1.0,<8.0
cachelib>=1.0,<8.0
click>=1.0,<8.0
colorama>=1.0,<8.0
Deprecated>=1.0,<8.0
ecdsa>=1.0,<8.0
Flask>=1.0,<8.0
Flask-Caching>=1.0,<8.0
Flask-Limiter>=1.0,<8.0
flask-marshmallow>=1.0,<8.0
Flask-Migrate>=1.0,<8.0
Flask-SQLAlchemy>=1.0,<8.0
flask-swagger>=1.0,<8.0
flask-swagger-ui>=1.0,<8.0
greenlet>=1.0,<8.0
importlib_metadata>=1.0,<8.0
itsdangerous>=1.0,<8.0
Jinja2>=1.0,<8.0
limits>=1.0,<8.0
Mako>=1.0,<8.0
markdown-it-py>=1.0,<8.0
MarkupSafe>=1.0,<8.0
marshmallow>=1.0,<8.0
marshmallow-sqlalchemy>=1.0,<8.0
mdurl>=1.0,<8.0
mysql-connector-python>=1.0,<8.0
ordered-set>=1.0,<8.0
packaging>=1.0,<8.0
pyasn1>=1.0,<8.0
Pygments>=1.0,<8.0
python-dotenv>=1.0,<8.0
python-jose>=1.0,<8.0
PyYAML>=1.0,<8.0
rich>=1.0,<8.0
rsa>=1.0,<8.0
six>=1.0,<8.0
SQLAlchemy>=1.0,<8.0
typing_extensions>=1.0,<8.0
Werkzeug>=1.0,<8.0
wrapt>=1.0,<8.0
zipp>=1.0,<8.0
